<div class="row">
    <div>
        <button type="submit" (click)="goToAddMatiere()">Ajouter Matiere</button>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Libellé</th>
            <th>Coef</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let matiere of matieres$ | async">
            <td>{{ matiere.id }}</td>
            <td>{{ matiere.libelle }}</td>
            <td>{{ matiere.coefficient }}</td>
            <td>
                <button (click)="deleteMatiere(matiere.id)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>